@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,800;1,500&display=swap');

* {
    font-family: 'Kanit', sans-serif;;
    margin: 0;
    padding: 0;
}


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/flags';
@import 'blocks/header';
@import 'blocks/odorlo12';
@import 'blocks/media';