@media (max-width: 1200px) {
    .flags {
        display: none;
    }
    .header {
        
        .header__phones {
            display: none;
        }
        .header__info {
            margin: 150px auto 0 auto;
        }
    }
    .container {
        padding: 0 15px;
    }
    .odorlo12 {
        &__wrapper {
            justify-content: space-evenly;
        }
    }
    .solutions__menu {
        width: 100%;
        transition: 1s all;
    }
    .solutions__img {
        width: 100% !important;
        img {
            width: 100%;
        }
    }
   

}

@media (min-width: 992px) {
    .solutions__open {
        display: none;
    }
}

@media (max-width: 992px) {
    .solutions {
        .solutions__menu {
            flex-direction: column;
            width: 300px;
            height: 0px;
            overflow: hidden;
            opacity: 0;
            
            li {
                border: none;
                &:hover {
                    padding: 10px 20px;
                }
            }
        }
        &__text {
            width: 100%;
        }
    }
    
    
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
    .deli {
        display: flex;
    }
}

@media (max-width: 576px) {
    .header__info {
        width: 100%;
    }
    

}