@media (max-width: 1200px) {
    .flags {
        display: none;
    }
    .header {
        
        .header__phones {
            display: none;
        }
        .header__info {
            margin: 150px auto 0 auto;
        }
    }
    .container {
        padding: 0 15px;
    }
    .odorlo12 {
        &__wrapper {
            justify-content: space-evenly;
        }
    }
    .solutions__menu {
        width: 100%;
        transition: 1s all;
    }
    .solutions__img {
        width: 100% !important;
        img {
            width: 100%;
        }
    }
    .benefits__wrapper {
        width: 100%;
        .benefits__item {
            margin-bottom: 20px;
        }
    }
    .options {
        &__wrapper {
            flex-direction: column;
        }
        &__img1, &__img2 {
            justify-content: center;
        }
    }
   .start {
    padding-top: 100px;
       &__wrapper {
           width: 100%;
       }
   }

}

@media (min-width: 992px) {
    .solutions__open {
        display: none;
    }
}

@media (max-width: 992px) {
    .solutions {
        .solutions__menu {
            flex-direction: column;
            width: 300px;
            height: 0px;
            overflow: hidden;
            opacity: 0;
            
            li {
                border: none;
                &:hover {
                    padding: 10px 20px;
                }
            }
        }
        &__text {
            width: 100%;
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            margin: 0 auto;
            width: 100%;
            justify-content: space-evenly;
        }
        &__item {
            width: 50%;
            text-align: center;
        }
        &__text {
            width: 100%;
        }
    }
    
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
    .deli {
        display: flex;
    }
    .benefits__text {
        padding: 10px 10px;
        height: 100%;
    }
    .footer {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 576px) {
    .header__info {
        width: 100%;
    }
    .benefits {
        min-height: 100%;
        padding-bottom: 10px;
    }
    .benefits__text {
        font-size: 15px;
    }
    .solutions {
        min-height: 660px;
    }

}